.container-fluid
  %p
    %b Name of the room:
    = @room.name
  %p
    = link_to 'Add a new toy', new_room_toy_path(@room), class: 'btn btn-info'

  %ul
    - @room.toys.each do |toy|
      - unless toy.name.nil?
        %li= link_to toy.name, room_toy_path(@room, toy)

  = link_to rooms_path, class: 'btn btn-link' do
    %span.glyphicon.glyphicon-backward
    Back
